body{
  background: #000;
  cursor: default;
}

/*page scroll*/
::-webkit-scrollbar{
width: 12px;
}

::-webkit-scrollbar-track{
background: black;
}

::-webkit-scrollbar-thumb{
background: linear-gradient(#ffeb3b,#da00ff);
border-radius: 6px;
}
/*end of pagescroll*/

/*Gsap Overlay*/
.Home > div , .Contact > div {
  color: #ff7f82;
}

.Contact > div {
  color: #ffa260;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 20;
  pointer-events: none;
}

.load-screen1 {
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #863C66;
  width: 100%;
  height: 0%;
}

.Headd {
  opacity: 0;
  pointer-events: none;
}

.overlay-first{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	z-index: 99;
	background-color: pink;
}

.overlay-second{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	z-index: 98;
	background-color: #863C66;
}
/*Gsap Overlay*/


